/**
 * @author Rafi Yagudin
 * @date 1/2/2014
 * @project SmartPost
 * @version 2.0
 * Contains "global" SmartPost CSS shared among all SmartPost classes
 */

/* Usually used for deleting an object */
.sp_xButton:before{
    content: '\f153';
    display: block!important;
    font: 400 16px/1 dashicons;
    speak: none;
    height: 20px;
    margin: 2px 0;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased!important;
    color: #bbb;
}
.sp_xButton:hover:before{
    color: red;
}

/* Usually used for deleting an object */
.sp_trashIcon:before{
    content: '\f182';
    display: block!important;
    font: 400 16px/1 dashicons;
    speak: none;
    height: 20px;
    margin: 2px 0;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased!important;
    color: #bbb;
}
.sp_trashIcon:hover:before{
    color: red;
}

/* Editable elements */
.sp_textIcon:before{
    content: '\f119';
    display: block!important;
    font: 400 16px/1 dashicons;
    speak: none;
    height: 20px;
    margin: 2px 0;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased!important;
    color: #bbb;
}
.sp_textIcon:hover:before{
    color: #21759b;
}

.sp-view-icon:before{
    content: '\f177';
    display: block!important;
    font: 400 16px/1 dashicons;
    speak: none;
    height: 20px;
    margin: 2px 0;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased!important;
    color: #bbb;
}
.sp-view-icon:hover:before{
    color: #21759b;
}