/*
 * CSS for the sp_admin class
 * Used in the dashboard/admin page
 */

#compFormWrapper{ display: none; }
#postComponents{ padding-top: 10px; }
#categories_sidebar{ float: right; width: 300px; margin-right: 5px; }
#category_settings{ padding: 5px; }
.cat_title, .wp_cat_title {	cursor: pointer; padding: 5px; font-size: 15px; }
.expandArrow{ padding-top: 5px; cursor: pointer; }
.postCompTitle, .category_title { display: inline; }
.category_icon{ float: left; padding: 7px; }
.categories_list {	padding: 5px;	background: #ECECEC; }
.stuffbox{	margin-bottom: 5px; }
.categories_list li{
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: move;
    background: white;
}
.nav-tab-active{ border-color: #CCC #CCC #F9F9F9 !important; }
.contCatTable{ margin-top: 10px; }
.catCompDraggable{ border: 1px solid silver; border-radius: 3px; margin-top: 5px; }
.catCompDraggable h3:hover{ color: orangered !important; }
.delComp{ float:right; cursor: pointer; width: 16px; height:16px; position: absolute; top:-10px; right:-8px; visibility: hidden; }
.requiredAndDefault{ float:right; }
.requiredAndDefault label{ vertical-align: top !important; }
input.requiredAndDefault{ vertical-align: text-bottom; }
.dynatree-node{ width: 100%; }
#normal-sortables .postbox .handlediv{ float: left; }
#emptyComp{ text-align: center; }
.editableCatCompTitle { cursor: pointer; }
.editableCatCompTitle form{ display: inline !important; }
.editableCatCompTitle input{
    height: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    background: transparent;
    padding: inherit;
    margin: inherit;
    border: none;
    min-width: 150px;
}
.hndle:hover .delComp{ visibility: visible; }
.hndle img{ vertical-align: middle; }
.sortable-placeholder{ display: block; min-height: 50px; }
.catDragCompCount{
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    background: red;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    border: 3px solid silver;
    font-size: 14px;
}
#newCategoryForm{ display: none; }
.hide{ visibility: hidden; position: absolute; top:-9999; left: -9999; }
#expandAll{ cursor: pointer; }
#expandAll:hover{ color: #0074a2; }
#sp_errors{ display: none; }
#sp_success{ display: none; }
#the_settings{ position: relative; }
#newTemplateForm{ visibility: hidden; }