/*
 * CSS for the sp_post class
 * Used in front end posts
 */
.sp_response_header{
	border-bottom: 1px solid silver;
}
.sp-editor-container:hover .sp-editor-identifier{
    visibility: visible;
}
.sp-editor-identifier{
    float: left;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: -20px;
    visibility: hidden;
}
.sp-editor-container{
    margin: 20px;
    position: relative;
}
.sp-editor-content{
    text-align: left;
}
.sp-editor-content{
    cursor: pointer !important;
}
.sp-upload-dropzone{
    border: 2px dashed silver;
    text-align: center;
}
.sortableSPComponents{
    min-height: 100px;
}
.sp-component-stack{
    border: 2px dashed #ededed;
}
.sp-delete-post:hover{
    cursor: pointer;
    color: red;
}
.sp-delete-post:before{
    float: left;
}
.sp-tag{
    display: inline-block;
    padding: 5px;
    background: #ededed;
    margin: 2px;
}
.sp-remove-tag{
    cursor: pointer;
}
.sp-remove-tag:before{
    display: inline;
    vertical-align: text-bottom;
}
#sp-tags-container{
    display: table;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#sp-tags{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    clear: both;
}
#sp-tags-container label{
    display:table-cell;
    width:15%;
}
#sp-add-tags{
    display: table-cell;
    width: 100%
}