/*
 * CSS for the sp_postMedia class
 * Used in front-end posts
 */
 
 .sp_browse{ display: none; }
 .drop_indicator{ position: absolute; top: 30%; left: 40%;}
 .sp_media { width: 100%; clear: both; }
 .sp_attachments{ clear: both; display: block; }
 .sp_media_desc { float: left; padding: 5px; }
 .sp_mediaCaption{margin: 0px;overflow: hidden; max-height: 15px;}
	.sp_media_thumb{
 	float: left;
 	width: 100px;
 	max-width: 100px;
 	overflow: hidden;
 	padding: 5px;		
	}
 .gallery_thumb{ 
 	float: left; 
 	height: 90px; 
 	width: 100px;
 	max-width: 100px; 
 	max-height: 90px; 
 	/*overflow: hidden;*/
 	margin: 5px 5px 0px 5px;
 	text-align: center; 
 	position: relative;
 	padding: 5px;
 }
 div.gallery_thumb:hover{
 	background: #EEE;
 }
 
 .sp_media_desc{
		overflow: hidden;
		background:	#F6F6F6;
		border: 1px solid silver;
		padding: 5px;
		border-radius: 3px;
		width: 470px;
 }
 .sp_uploads{ position: relative; }
 .dropbox{
		width: 100%;
		min-height: 100px;
		border: 1px dashed silver;
		background: white;
 }
 .sp_media_webcam{
			margin-left: 20%;
			margin-right: 20%;
			text-align: center;
			padding: 5px;
			display: none;
			background: #F6F6F6;
			border: 1px solid silver;
			border-radius: 3px;
			margin-bottom: 10px;
 } 
 
 .sp_mediaDelete{
 	background: none;
 	display: none;
 	top: -3px;
 	right: -3px;
 	position: absolute;
 	cursor: pointer;
 }
 
 button.sp_mediaDelete:hover{
 	background: #F1F1F1;
 	color: red;
 	cursor: pointer;
 }
 
 button.webcamButton{border: 1px solid silver; background: inherit; }
 button.webcamButton:hover{background: white; cursor: pointer; color: green; }
 .videostream{width: 307px;height: 250px;}
 .screenshot{ width: 307px; height: 240px;}


 