/**
 * Front-end CSS for sp_postVideo component
 */
 
.videoProgBarContainer{
    width: 100px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.videoProgressBar{
    height:5px;
    background: silver;
    border: 1px gray solid;
    float: left;
}