/*
 * CSS for the sp_postMedia class
 * Used in front-end posts
 */
.sp-photo-thumb{
    position: relative;
    display: inline-block;
    max-width: 700px;
}
.sp-photo-thumb img{
    max-width: 100%;
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */;
}
.sp-photo-caption{
    margin: 20px;
}
.sp-photo-thumb:hover .sp-photo-delete-thumb,
.sp-photo-thumb:hover .sp-photo-edit-caption{
    display: block;
}
.sp-photo-delete-thumb{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ffffff;
    height: 20px;
    cursor: pointer;
    display: none;
}
.sp-photo-container{
    clear: both;
    text-align: center;
}
.sp-photo-dropzone{
    text-align: center;
}