/*
 * CSS for the category components
 * Use for front-end styling
 */
 .componentHandle{
 	height: 12px;
 	cursor: move;
    background-color: #F1F1F1;
    background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
    background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
    background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
    background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
    background-image: linear-gradient(top,#F9F9F9,#ECECEC);
 	border: 1px solid #EEE;
 	border-radius: 3px;
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;		
    margin-bottom: 10px;
 }
 
 .requiredComponent{
 	border: 1px solid red;
 	border-radius: 3px;
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;		 
    -moz-box-shadow:    4px 5px 8px -2px red;
	-webkit-box-shadow: 4px 5px 8px -2px red;
    box-shadow:         4px 5px 8px -2px red;
 }
 
 .editableCompTitle, .componentTitle{
    display: inline;
    font-weight: bold;
    font-size: 14px;
 }
 
 .sp_compTitleEditable{ display: inline; }
 .sp_compTitleEditable input{
 	display: inline !important;
    height: inherit;
    width: 90% !important;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    font-family: inherit;
 } 
  
 .sp_component{
 	padding: 5px;
 	background-color: white;
 	border: 1px solid #EEE;
 	border-radius: 3px;
 	margin-bottom: 10px;
 	min-height: 75px;
 }
 
 div.sp_component:hover{
 	border: 1px solid silver;
 }
 
 .menuItem{
 	border: 1px solid #EEE;
 	border-radius: 3px;
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	z-index: 5;
 }
 
 .sp_plaintext, .sp_richtext{
 	margin-top: 5px;
 }
 
 div.editable:hover{
 	color: green;
 	cursor: pointer;
 }
 
 #component_errors{
 	border: 1px solid red;
 	background-color: #FFEBE8;
 	border-radius: 3px;
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	padding: 5px;
 	display: none;
 }
 
 .componentPlaceholder{
 	height: 100px;
 	margin-bottom: 10px;
 	border: 2px dotted silver;
 	border-radius: 3px;
 }
 
 .sortableSPComponents{
 	min-height: 100px;
 }
 
 .sp_component_helper{
 	max-height: 50px;
 	border: 2px solid silver;
 	border-radius: 3px;
 	background: white;
 	font-size: 14px;
 	font-weight: bold;
	-moz-box-shadow: 4px 5px 8px -2px black;
	-webkit-box-shadow: 4px 5px 8px -2px black;
    box-shadow: 4px 5px 8px -2px black;
    cursor: move;
 }