/**
 * CSS for the sp_quickPostWidget class
 * Used on the front end for new posts
 */
#sp_qp_stack{
    margin-top: 15px;
    margin-bottom: 15px;
}
.sp-qp-component{
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ededed;
}
.sp-qp-component:hover{
    background: #ededed;
}
.quickPostComps{
	min-height: inherit !important;
}
.sp-add-post{
    padding: 5px;
    cursor: pointer;
    margin-top: 0px;
}
.new-sp-post-title{
	height: 35px;
	width: 100%;
    font-size: 24px;
    margin-bottom: 5px;
}
.sp-settings-icon{
    float: right;
}
button.sp-qp-new-post,
button.sp-qp-button{
	cursor: pointer;
    font-size: 15px;
    padding: 10px;
}
.sp-quickpost-form{
	display: none; padding: 5px; 
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
}
.sp-qp-post-buttons{
    margin-top: 1.714285714rem;
}
@media screen and (max-width: 700px){
    .sp-qp-component{
        display: block;
        clear: both;
    }
}